[Desktop Entry]
Name=Run program...
Name[sl]=Po¾eni program...
Name[pt_BR]=Roda programa...
Name[ca]=Executar...
Name[da]=Kør...
Name[de]=Programm ausführen...
Name[el]=Åêôİëåóç...
Name[es]=Ejecutar...
Name[et]=Käivita...
Name[fi]=Aja ohjelma...
Name[fr]=Exécuter...
Name[gl]=Executar programa...
Name[hu]=Program futtatása...
Name[it]=Avvia programma...
Name[ja]=¥³¥Ş¥ó¥É¼Â¹Ô...
Name[ko]=ÇÁ·Î±×·¥ ½ÇÇà...
Name[lt]=Paleisti...
Name[nl]=Uitvoeren...
Name[no]=Kjør...
Name[pl]=Uruchom...
Name[pt]=Executar...
Name[ru]=úÁĞÕÓË...
Name[sk]=Spusti» program...
Name[sv]=Kör...
Name[tr]=Çalıştır ...
Name[wa]=Enonder programe...
Comment=Prompts the user for a program to run
Comment[sl]=Vpra¹a uporabnika za program, ki naj ga po¾ene
Comment[pt_BR]=Move o usuário para o programa a rodar
Comment[ca]=Permet a l'usuari o usuària llançar un programa
Comment[da]=Spørger brugeren hvilket program, hun vil køre
Comment[de]=Ein Programm zur Ausführung auswählen
Comment[el]=ÕğïâÜëåé ôï ÷ñŞóôç ãéá ğñüãñáììá ğñïò åêôİëåóç
Comment[es]=Pide al utilizador el nombre de un programa a ejecutar
Comment[et]=Laseb käivitada programmi ilma terminali avamata
Comment[fi]=Kysyy käyttäjältä ajettavaa ohjelmaa
Comment[fr]=Demande à l'utilisateur un nom de programme à lancer
Comment[gl]=Pide ó usuario un programa para executar
Comment[hu]=Program futtatása
Comment[it]=Esegui un programma specificato
Comment[ja]=¥æ¡¼¥¶¤¬¥³¥Ş¥ó¥É¤ò¼Â¹Ô¤Ç¤­¤ë¥×¥í¥ó¥×¥È¤òÉ½¼¨¤·¤Ş¤¹
Comment[ko]=½ÇÇàÇÒ ÇÁ·Î±×·¥À» »ç¿ëÀÚ¿¡°Ô ¹°¾îº½
Comment[lt]=Leidşia ávesti, kokià programà paleisti
Comment[nl]=Vraagt de gebruiker om een programma om uit te voeren
Comment[no]=Kjør program
Comment[pl]=Pozwala wprowadziæ wiersz polecenia do wykonania
Comment[pt]=Pede ao utilizador o nome de um programa para executar
Comment[ru]=óÔÒÏËÁ ÄÌÑ ÚÁĞÕÓËÁ ĞÒÏÇÒÁÍÍÙ
Comment[sk]=Spıta sa pou¾ívateµa, ktorı program chce spusti»
Comment[sv]=Kör program
Comment[tr]=Komutaları çalıştırır
Comment[wa]=Dimande a l' ûzeu li no d' on programe a enonder
TryExec=gnome-run
Exec=gnome-run
Icon=gnome-tigert.png
Terminal=0
Type=Application
