[Desktop Entry]
Name=Run program...
Name[da]=Kør...
Name[de]=Ausführen...
Name[es]=Ejecutar...
Name[fi]=Aja ohjelma...
Name[fr]=Exécuter...
Name[it]=Avvia programma...
Name[de]=Programmstarter...
Name[hu]=Program futtatása...
Name[ko]=ÇÁ·Î±×·¥ ½ÇÇà...
Name[nl]=Uitvoeren...
Name[no]=Kjør...
Name[pt]=Executar...
Name[sv]=Kör...
Comment=Prompts the user for a program to run
Comment[da]=Kør program
Comment[de]=Ein Programm zur Ausführung auswählen
Comment[es]=Pide al utilizador el nombre de un programa a ejecutar
Comment[fi]=Kysyy käyttäjältä ajettavaa ohjelmaa
Comment[fr]=Demander à l'utilisateur un nom de programme a lancer
Comment[it]=Esegui un programma specificato
Comment[de]=Starten eines beliebigen Programms
Comment[hu]=Program futtatása
Comment[ko]=½ÇÇàÇÒ ÇÁ·Î±×·¥À» »ç¿ëÀÚ¿¡°Ô ¹°¾îº½
Comment[nl]=Vraagt de gebruiker om een programma om uit te voeren
Comment[no]=Kjør program
Comment[pt]=Pede ao utilizador o nome de um programa para executar
Comment[sv]=Kör program
TryExec=gnome-run
Exec=gnome-run
Icon=gnome-tigert.png
Terminal=0
Type=Application
