COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
/autom4te.cache/
.deps/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
/gnome-dictionary/docs/reference/gdict/version.xml
/gnome-dictionary/libgdict/gdict-1.0.pc
/gnome-dictionary/libgdict/gdict-version.h
gnome-doc-utils.make
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
/m4/gnome-doc-utils.m4
/m4/gtk-doc.m4
/m4/intltool.m4
/m4/shave-libtool
/m4/shave
missing
mkinstalldirs
omf.make
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/po/*.gmo
stamp-h1
xmldocs.make
