[Desktop Entry]
Name=gpostit
Name[es]=gpostit
Name[fr]=GPostIt
Name[no]=gpostit
Name[pt]=gpostit
Name[sv]=GPostit
Comment=Note taker
Comment[es]=escribir esquelas
Comment[fr]=Prise de Notes
Comment[no]=Notatblokk
Comment[pt]=Notas
Comment[sv]=Anteckningsblock
TryExec=gpostit
Exec=gpostit
Terminal=0
Type=Application
