[Desktop Entry]
Name=gpostit
Name[da]=GPostIt
Name[es]=gpostit
Name[fr]=GPostIt
Name[ko]=gpostit
Name[no]=gpostit
Name[pt]=gpostit
Name[sv]=GPostit
Comment=Note taker
Comment[da]=Notatsblok
Comment[es]=escribir esquelas
Comment[fr]=Prise de Notes
Comment[ko]=메모 붙이기
Comment[no]=Notatblokk
Comment[pt]=Notas
Comment[sv]=Anteckningsblock
TryExec=gpostit
Exec=gpostit
Terminal=0
Type=Application
