[Desktop Entry]
Name=gpostit
Name[fr]=GPostIt
Name[no]=gpostit
Comment=Note taker
Comment[fr]=Prise de Notes
Comment[no]=Notatblokk
TryExec=gpostit
Exec=gpostit
Terminal=0
Type=Application
