[Desktop Entry]
Name=System Information
Name[ca]=InformaciÛ del sistema
Name[da]=Systeminformation
Name[de]=Systeminfo
Name[es]=InformaciÛn del Sistema
Name[et]=S¸steemiinfo
Name[fi]=J‰rjestelm‰n tiedot
Name[fr]=Informations SystËme
Name[hu]=Rendszerinform·ciÛk
Name[it]=Informazioni sul sistema
Name[ja]=•∑•π•∆•‡æ Û
Name[ko]=Ω√Ω∫≈€ ¡§∫∏
Name[nl]=Systeeminfo
Name[no]=Systeminfo
Name[pl]=Informacje o systemie
Name[pt]=InformaÁ„o do Sistema
Name[ru]=ÈŒ∆œ“Õ¡√…— œ Û…”‘≈Õ≈
Name[sv]=Systeminformation
Name[wa]=InformÂcion do Sistinme
Exec=guname --capplet
Terminal=0
Type=Application

