[Desktop Entry]
Name=System Info...
Name[fr]=Informations Système...
Comment=Technical information about this computer
Comment[fr]=Informations Système à propos de cet ordinateur
Exec=guname
Terminal=0
Type=Application
