[Desktop Entry]
Name=Stripchart
Name[sv]=Stripchart
Comment=Shows a stripchart plot
Comment[sv]=Visar en graf
Exec=stripchart-applet
Icon=gnome-stripchart.png
Terminal=0
Type=PanelApplet
