[Desktop Entry]
Name=User Listing
Name[fr]=Liste des Utilisateurs
Comment=View users on the system
Comment[fr]=Voir la liste des utilisateurs connectés
Exec=gw
Terminal=0
Type=Application
