[Desktop Entry]
Name=GNOME Character Map
Name[de]=Zeichentabelle
Name[lt]=Gnome simboliø rinkinys
Name[nl]=Gnome Speciale Tekens
Name[no]=Tegnkart
Name[sv]=Teckenkarta för Gnome
Comment=GNOME Character Map
Comment[de]=Zeichentabelle für GNOME
Comment[lt]=Gnome simboliø perþiûros árankis
Comment[nl]=Gnome Speciale Tekens
Comment[no]=GNOME Tegnkart
Comment[sv]=Teckenkarta för Gnome
Exec=gcharmap
Icon=
Terminal=0
Type=Application
