[Desktop Entry]
Name=Gnome Character Map
Comment=Gnome Character Map
Name[nl_NL]=Gnome Speciale Tekens
Comments[nl_NL]=Gnome Speciale Tekens
Exec=gcharmap
Icon=
Terminal=0
Type=Application