[Desktop Entry]
Name=GNOME Character Map
Name[de]=Zeichentabelle
Name[nl_NL]=GNOME Speciale Tekens
Name[sv]=Teckenkarta för GNOME
Comment=GNOME Character Map
Comment[de]=Zeichentabelle für GNOME
Comments[nl_NL]=GNOME Speciale Tekens
Comment[sv]=Teckenkarta för GNOME
Exec=gcharmap
Icon=
Terminal=0
Type=Application
