[Desktop Entry]
Name=Text File Viewer
Name[es]=gless
Name[fr]=Visualisation de fichiers textes
Name[pt]=gless
Name[no]=Tekstfilvisning
Comment=Page files as with `more' and `less'
Comment[es]=Visor de ficheros texto similar a los clásicos `more' y `less'
Comment[fr]=Visualisation de fichiers textes
Comment[pt]=Mostra ficheiros de texto como o `more' e o `less'
Comment[no]=Viser filer som med `more' og `less'
Exec=gless --nostdin
Terminal=0
Type=Application
