[Desktop Entry]
Name=Text File Viewer
Name[fr]=Visualisation de fichiers textes
Comment=Page files as with `more' and `less'
Comment[fr]=Visualisation de fichiers textes
Exec=gless --nostdin
Terminal=0
Type=Application
