gnome-search-tool
gnome-search-tool.desktop
gnome-search-tool.schemas
*.o
libgnomeui-deprecated/libgnomeui-deprecated.la
libgnomeui-deprecated/libgnomeui_deprecated_la-gsearchtool-entry.lo
libgnomeui-deprecated/.libs
/help/*/.xml2po.mo
/help/*/gnome-search-tool.xml
/help/*.omf
/help/*/*.mo
