[Desktop Entry]
Name=GNOME Search Tool
Name[no]=Gnome søkeverktøy
Comment=GNOME Search Tool
Comment[no]=Søkeverktøy for Gnome
Exec=gsearchtool
Icon=
Terminal=0
Type=Application
