[Desktop Entry]
Name=Notepad
Name[da]=Notesblok
Name[de]=Editor
Name[es]=Bloc de notas
Name[fi]=Muistikirja
Name[fr]=Bloc Note
Name[it]=Blocco note
Name[hu]=Notesz
Name[ko]=¸Þ¸ðÀå
Name[no]=Notisblokk
Name[pt]=Bloco de Notas
Name[sv]=Anteckningsblock
Comment=Simple editor (notepad)
Comment[da]=Enkel editor (notesblok)
Comment[de]=Einfacher Editor
Comment[es]=Editor simple (bloc de notas)
Comment[fi]=Yksinkertainen tekstieditori (muistikirja)
Comment[fr]=Éditeur de Texte (Bloc Note)
Comment[hu]=GNOME notesz
Comment[it]=Semplice editor di testo
Comment[ko]=°£´ÜÇÑ ÅØ½ºÆ® ÆíÁý±â (¸Þ¸ðÀå)
Comment[no]=Enkel editor (notatblokk)
Comment[pt]=Editor de texto simples
Comment[sv]=Enkel texteditor
Exec=notepad
Icon=gnome-note.png
Terminal=0
Type=Application
