[Desktop Entry]
Name=Notepad
Name[pt_BR]=Bloco de notas
Name[da]=Notesblok
Name[de]=Editor
Name[el]=Σημειωματάριο
Name[es]=Bloc de notas
Name[et]=Mδrkmik
Name[fi]=Muistikirja
Name[fr]=Bloc Note
Name[gl]=Caderno de Notas
Name[hu]=Notesz
Name[it]=Blocco note
Name[ja]=₯Ξ‘Ό₯Θ₯Ρ₯Γ₯Ι
Name[ko]=ΈήΈπΐε
Name[lt]=Uώraπψ knygelλ
Name[no]=Notisblokk
Name[pt]=Bloco de Notas
Name[ru]=βΜΟΛΞΟΤ
Name[sv]=Anteckningsblock
Name[tr]=Not defteri
Comment=Simple editor (notepad)
Comment[pt_BR]=Editor simples (bloco de notas)
Comment[da]=Simpel tekstbehandler (notesblok)
Comment[de]=Einfacher Editor
Comment[el]=Απλός επεξεργαστής κειμένου (σημειωματάριο)
Comment[es]=Editor simple (bloc de notas)
Comment[et]=Lihtne tekstiredaktor (mδrkmik)
Comment[fi]=Yksinkertainen tekstieditori (muistikirja)
Comment[fr]=Ιditeur de Texte (Bloc Note)
Comment[gl]=Editor simple (caderno de notas)
Comment[hu]=GNOME notesz
Comment[it]=Semplice editor di testo
Comment[ja]=΄Κ°Χ₯¨₯Η₯£₯Ώ(₯Ξ‘Ό₯Θ₯Ρ₯Γ₯Ι)
Comment[ko]=°£΄άΗΡ ΕΨ½ΊΖ® ΖνΑύ±β (ΈήΈπΐε)
Comment[lt]=Paprastas redaktorius (kaip notepad)
Comment[no]=Enkel editor (notatblokk)
Comment[pt]=Editor de texto simples
Comment[ru]=πÒΟΣΤΟΚ ÒΕΔΑΛΤΟÒ (ΒΜΟΛΞΟΤ)
Comment[sv]=Enkel texteditor
Comment[tr]=Not defteri 
Exec=notepad
Icon=gnome-note.png
Terminal=0
Type=Application
