[Desktop Entry]
Name=Notepad
Name[es]=Bloc de notas
Comment=Simple editor (notepad)
Comment[es]=Editor simple (bloc de notas)
Exec=notepad
Icon=
Terminal=0
Type=Application
