/data/GNOME_DictionaryApplet.server
/data/GNOME_DictionaryApplet.server.in
/data/default.desktop
/data/gnome-dictionary.desktop
/data/gnome-dictionary.desktop.in
/data/gnome-dictionary.schemas
/data/spanish.desktop
/data/thai.desktop
*.mo
/help/*/gnome-dictionary.xml
/help/*.omf
.libs/
/libgdict/gdict-enum-types.[ch]
/libgdict/gdict-marshal.[ch]
*.la
*.lo
*.o
/libgdict/stamp-gdict-enum-types.h
/libgdict/stamp-gdict-marshal.h
/src/gnome-dictionary
/src/gnome-dictionary-applet
