[Desktop Entry]
Name=Run A Command...
Name[da]=Kør et program...
Name[es]=Ejecutar un comando...
Name[fr]=Exécuter une commande...
Name[hu]=Program futtatása...
Name[ko]=¸í·É ½ÇÇà...
Name[no]=Kjør et program...
Name[pt]=Executar um comando...
Name[ru]=úÁĞÕÓÔÉÔØ ğÒÏÇÒÁÍÍÕ...
Name[sv]=Kör ett program...
Comment=Ask for a command to execute
Comment[da]=Skriv navnet på programmet som skal køres
Comment[es]=Pide un comando a ejecutar
Comment[fr]=Demander un nom de commande a exécuter
Comment[hu]=Program futtatása
Comment[ko]=½ÇÇàÇÒ ¸í·É¾î¸¦ ¹Ş¾Æ¼­ ½ÇÇàÇÕ´Ï´Ù
Comment[no]=Skriv inn navnet på programmet som skal kjøres
Comment[pt]=Pede um comando para executar
Comment[ru]=úÁĞÒÏÓÉÔØ ËÏÍÁÎÄÕ ÄÌÑ ÉÓĞÏÌÎÅÎÉÑ
Comment[sv]=Fråga efter ett program att köra
Exec=grun
Terminal=0
Type=Application
