[Desktop Entry]
Name=Run A Command...
Name[pt_BR]=Roda Um Comando...
Name[da]=Udfør en kommando...
Name[de]=Befehl ausführen...
Name[el]=Åêôİëåóç ÅíôïëŞò...
Name[es]=Ejecutar un comando...
Name[et]=Käivita...
Name[fi]=Suorita komento...
Name[fr]=Exécuter une commande...
Name[gl]=Executar un Comando...
Name[hu]=Program futtatása...
Name[ja]=¥³¥Ş¥ó¥É¼Â¹Ô...
Name[ko]=¸í·É ½ÇÇà...
Name[lt]=Ávykdyti komandà...
Name[no]=Kjør et program...
Name[pt]=Executar um comando...
Name[ru]=úÁĞÕÓÔÉÔØ ğÒÏÇÒÁÍÍÕ...
Name[sv]=Kör ett program...
Name[tr]=Bir komutayı çalıştır ...
Name[wa]=Enonder ene comande...
Comment=Ask for a command to execute
Comment[pt_BR]=Pede para executar um comando
Comment[da]=Bed om navnet på en kommando som skal udføres
Comment[de]=Ein Programm zur Ausführung auswählen
Comment[el]=ÕğïâïëŞ åíôïëŞò ãéá åêôİëåóç
Comment[es]=Pide un comando a ejecutar
Comment[et]=Käivitab antud käsu
Comment[fi]=Suorittaa annetun komennon
Comment[fr]=Demander un nom de commande à exécuter
Comment[gl]=Preguntar por un comando para executar
Comment[hu]=Program futtatása
Comment[ja]=¼Â¹Ô¤¹¤ë¥³¥Ş¥ó¥É¤òÆşÎÏ¤·¤Æ²¼¤µ¤¤
Comment[ko]=½ÇÇàÇÒ ¸í·É¾î¸¦ ¹Ş¾Æ¼­ ½ÇÇàÇÕ´Ï´Ù
Comment[lt]=Paprağo ávesti komandà ir ávykdo jà
Comment[no]=Skriv inn navnet på programmet som skal kjøres
Comment[pt]=Pede um comando para executar
Comment[ru]=úÁĞÒÏÓÉÔØ ËÏÍÁÎÄÕ ÄÌÑ ÉÓĞÏÌÎÅÎÉÑ
Comment[sv]=Fråga efter ett program att köra
Comment[tr]=Bir komutayı çalıştırır
Comment[wa]=Dimande a l' ûzeu ene comande po enonder
Exec=grun
Terminal=0
Type=Application
