*.o
logview-marshal.[ch]
/gnome-system-log
/tests/test-reader
/help/*.omf
/help/*/*.xml
/help/*/*.mo
/help/*/.xml2po.mo
/data/gnome-system-log.desktop
/data/gnome-system-log.desktop.in
/data/gnome-system-log.schemas
