[Desktop Entry]
Name=System log monitor
Name[ca]=Monitor de Registres
Name[da]=Systemlog-monitor
Name[de]=Systemprotokoll Monitor
Name[el]=Έλεγχος καταγραφών συστήματος
Name[es]=Monitor de bitαcoras
Name[fi]=Lokilukija
Name[fr]=Moniteur d'Historique
Name[ga]=Monatσir log corαis
Name[gl]=Monitor dos rexistros de sistema
Name[ja]=₯·₯Ή₯Ζ₯ΰ₯ν₯°₯β₯Λ₯Ώ
Name[ko]=½Γ½ΊΕΫ Α’±Ω±β·Ο ΊΈ±β
Name[no]=Systemlogg-monitor
Name[pl]=Monitor dziennikσw systemowych
Name[pt]=Monitor de Ficheiros de "log"
Name[pt_BR]=Monitor de Arquivos de "log"
Name[sv]=Systemlogg φvervakare
Name[tr]=Kayύt monitφrό
Comment=SysLog tool
Comment[ca]=Eina per treballar amb els registres del sistema
Comment[da]=Visning af systemlogge
Comment[el]=Επιτρέπει τον έλεγχο των καταγραφών του συστήματος
Comment[es]=Muestra los archivos de bitαcora del sistema
Comment[fi]=Jδrjestelmδlokien lukija
Comment[fr]=Moniteur de fichiers d'historique
Comment[ga]=Uirlis SysLog
Comment[gl]=Utilidade SysLog
Comment[ja]=Syslog€ςΈ«€λ₯Δ‘Ό₯λ€Η€Ή‘£
Comment[ko]=Α’±Ω±β·Οΐ» ΊΈ΄Β ΗΑ·Ξ±Χ·₯
Comment[no]=Visning av systemlogger
Comment[pl]=Monitor dziennikσw systemowych
Comment[pt]=Aplicaηγo para visualizar ficheiros de "log"
Comment[pt_BR]=Aplicaηγo para visualizar arquivos de "log"
Comment[sv]=Systemloggs verktyg
Comment[tr]=Kayύt dosyalarύ monitφrό
Exec=logview
Icon=gnome-log.png
Terminal=0
Type=Application
