[Desktop Entry]
Name=Personal cron manager
Name[ca]=Gestor personal de cron
Name[da]=Crontabredigering
Name[de]=Persönlicher Ereignismanager
Name[es]=Manejador de cron personal
Name[et]=Cron haldur
Name[fi]=Cron-hallintaohjelma
Name[fr]=Editeur personnel de cron
Name[gl]=Xestor persoal de cron
Name[hu]=Crontab-szerkesztõ
Name[ja]=¥æ¡¼¥¶ÍÑcron¥Ş¥Í¡¼¥¸¥ã
Name[ko]=°³ÀÎ ¿¹¾à¸í·É °ü¸®ÀÚ
Name[lt]=Asmeninis cron vadybininkas
Name[nl]=Persoonlijk Crontabbeheer
Name[no]=Crontab editor
Name[pt]=Cromagnon
Name[ru]=ìÉŞÎÙÊ ÄÉÓĞÅÔŞÅÒ cron
Name[sv]=Crontab edior
Comment=Personal crontab manager
Comment[ca]=Editor de la taula personal de cron
Comment[da]=Personlig contab-redigering
Comment[de]=Bearbeiten der persönlichen Ereignistabelle
Comment[es]=Manejador de crontab personal
Comment[et]=Kasutaja crontab failide haldaja
Comment[fi]=Henkilökohtaisten crontabien hallintaohjelma
Comment[fr]=Éditeur personnel de cron
Comment[gl]=Xestor persoal do crontab
Comment[hu]=Az egyéni crontab-ot szerkesztheted vele könnyen
Comment[ja]=Äê´ü¼Â¹Ô¥×¥í¥°¥é¥à¤Î³Æ¸Ä¿ÍÍÑÀßÄê¥Ä¡¼¥ë
Comment[ko]=°³ÀÎ ¿¹¾à¸í·É °ü¸®ÀÚ
Comment[lt]=Asmeninio crontab'o vadybininkas
Comment[nl]=Bewerken van de persoonlijke crontab
Comment[no]=Personlig crontab editor
Comment[pt]=Gestor de crontab pessoal
Comment[ru]=ìÉŞÎÙÊ ÄÉÓĞÅÔŞÅÒ cron
Comment[sv]=Personlig crontab editor
Exec=cromagnon
Icon=gnome-cromagnon.png
Terminal=0
Type=Application
