[Desktop Entry]
Name=Personal cron manager
Name[da]=Crontab editor
Name[de]=Persönlicher Ereignismanager
Name[es]=Manejador de cron personal
Name[fi]=Cron-hallintaohjelma
Name[fr]=Editeur personnel de cron
Name[hu]=Crontab-szerkesztõ
Name[ko]=°³ÀÎ ¿¹¾à¸í·É °ü¸®ÀÚ
Name[no]=Crontab editor
Name[pt]=Cromagnon
Name[sv]=Crontab edior
Comment=Personal crontab manager
Comment[da]=Personlig contab editor
Comment[de]=Bearbeiten der persönlichen Ereignistabelle
Comment[es]=Manejador de crontab personal
Comment[fi]=Henkilökohtaisten crontabien hallintaohjelma
Comment[fr]=Éditeur personnel de cron
Comment[hu]=Az egyéni crontab-ot szerkesztheted vele könnyen
Comment[ko]=°³ÀÎ ¿¹¾à¸í·É °ü¸®ÀÚ
Comment[no]=Personlig crontab editor
Comment[pt]=Gestor de crontab pessoal
Comment[sv]=Personlig crontab editor
Exec=cromagnon
Icon=gnome-cromagnon.png
Terminal=0
Type=Application
