[Desktop Entry]
Name=Personal cron manager
Name[es]=Manejador de cron personal
Comment=Personal crontab manager
Comment[es]=Manejador de crontab personal
Exec=cromagnon
Icon=gnome-cromagnon.xpm
Terminal=0
Type=Application
