[Desktop Entry]
Name=Time tracking tool
Name[es]=Conteo del tiempo
Name[de]=Stoppuhr
Comment=Time Tracker tool
Comment[es]=Herramienta de conteo del tiempo
Comment[de]=Projektorientierte Stoppuhr
Exec=gtt
Icon=
Terminal=0
Type=Application
