[Desktop Entry]
Name=Time tracking tool
Name[es]=Conteo del tiempo
Comment=Time Tracker tool
Comment[es]=Herramienta de conteo del tiempo
Exec=gtt
Icon=
Terminal=0
Type=Application
