[Desktop Entry]
Name=Run A Command...
Name[fr]=Exécuter une commande...
Comment=Ask for a command to execute
Comment[fr]=Demander un nom de commande a exécuter
Exec=grun-minimalist
Terminal=0
Type=Application
