[Desktop Entry]
Name=Run A Command...
Name[fr]=Exécuter une commande...
Name[no]=Kjør et program...
Comment=Ask for a command to execute
Comment[fr]=Demander un nom de commande a exécuter
Comment[no]=Skriv inn navnet på programmet som skal kjøres
Exec=grun-minimalist
Terminal=0
Type=Application
