[Desktop Entry]
Name=IDE Device Tool
Name[sv]=IDE-enhetsverktyg
Comment=Show and Configure IDE Device Settings
Comment[sv]=Visa och konfiguera IDE-enhetsinställningar
Exec=idetool
Icon=
Terminal=0
Type=Application
