[Desktop Entry]
Name=IDE Device Tool
Name[da]=IDE-enhedsvζrktψj
Name[el]=Εργαλείο Συσκευών IDE
Name[fi]=IDE-tyφkalu
Name[lt]=IDE diskψ αrankis
Name[no]=IDE verktψy
Name[sv]=IDE-enhetsverktyg
Comment=Show and Configure IDE Device Settings
Comment[da]=Viser og konfigurerer IDE-enhedsindstillinger
Comment[el]=Εμφανίζει και επιτρέπει τη ρύθμιση συσκευών IDE
Comment[fi]=Ohjelma IDE-laitteiden hallintaan.
Comment[lt]=Rodyti ir tvarkyti IDE diskψ nuostatas
Comment[no]=Vis og konfigurιr innstillinger for IDE-enheter
Comment[sv]=Visa och konfiguera IDE-enhetsinstδllningar
Exec=idetool
Icon=
Terminal=0
Type=Application
