[Desktop Entry]
Name=IDE Device Tool
Name[sl]=Orodje za enote IDE
Name[pt_BR]=Ferramenta para Dispositivos IDE
Name[da]=IDE-enhedsværktøj
Name[el]=Åñãáëåßï Óõóêåõşí IDE
Name[fi]=IDE-työkalu
Name[fr]=Outil périphérique IDE
Name[lt]=IDE diskø árankis
Name[no]=IDE verktøy
Name[sk]=Nástroj pre IDE zariadenia
Name[sv]=IDE-enhetsverktyg
Comment=Show and Configure IDE Device Settings
Comment[sl]=Ka¾i in nastavi IDE enote
Comment[pt_BR]=Mostra e Configura Ajustes em Dispositivos IDE
Comment[da]=Viser og konfigurerer IDE-enhedsindstillinger
Comment[el]=Åìöáíßæåé êáé åğéôñİğåé ôç ñıèìéóç óõóêåõşí IDE
Comment[fi]=Ohjelma IDE-laitteiden hallintaan.
Comment[fr]=Affiche et configure les paramètres de périphériques IDE
Comment[lt]=Rodyti ir tvarkyti IDE diskø nuostatas
Comment[no]=Vis og konfigurér innstillinger for IDE-enheter
Comment[sk]=Zobrazuje a nastavuje IDE zariadenia
Comment[sv]=Visa och konfiguera IDE-enhetsinställningar
Exec=idetool
Icon=
Terminal=0
Type=Application
