[Desktop Entry]
Name=Color Browser...
Name[pt]=Paleta
Name[no]=Fargevisning
Comment=Browse available X11 colors.
Comment[pt]=Visualiza as cores disponíveis no servidor X11.
Comment[no]=Visualisering av systemfargene i X11
Exec=gcolorsel
Icon=
Terminal=0
Type=Application
