[Desktop Entry]
Name=Color Browser...
Name[pt]=Paleta
Comment=Browse available X11 colors.
Comment[pt]=Visualiza as cores disponíveis no servidor X11.
Exec=gcolorsel
Icon=
Terminal=0
Type=Application
