[Desktop Entry]
Name=Color Browser...
Name[es]=Paleta...
Name[fr]=Palette...
Name[no]=Fargevisning...
Name[pt]=Paleta...
Comment=Browse available X11 colors.
Comment[es]=Visualiza los colores disponibles en el servidor X11
Comment[fr]=Visualise les couleurs disponibles sur le serveur X11
Comment[no]=Visualisering av systemfargene i X11
Comment[pt]=Visualiza as cores disponíveis no servidor X11.
Exec=gcolorsel
Icon=gnome-color-browser.png
Terminal=0
Type=Application
