[Desktop Entry]
Name=Archive Generator
Name[no]=Arkivgenerator
Comment=GNOME Archive Generator aka Meat Grinder
Comment[no]=GNOME Arkivgenerator (Meat Grinder)
Exec=meat-grinder
Terminal=0
Icon=nautilus/gnome-compressed.png
Type=Application
