[Desktop Entry]
Name=Archive Generator
Name[da]=Arkivgenerator
Name[no]=Arkivgenerator
Name[sv]=Arkivskapare
Name[zh_TW.Big5]=保存檔建立程式
Comment=GNOME Archive Generator aka Meat Grinder
Comment[da]=Genererer arkiver (med tilnavnet K鷣maskinen)
Comment[no]=GNOME Arkivgenerator (Meat Grinder)
Comment[sv]=Arkivskapare f顤 GNOME (Meat Grinder)
Comment[zh_TW.Big5]=GNOME 保存檔建立程式，即 Meat Grinder
Exec=meat-grinder
Terminal=0
Icon=nautilus/gnome-compressed.png
Type=Application
