[Desktop Entry]
Name=Archive Generator
Comment=GNOME Archive Generator aka Meat Grinder
Exec=meat-grinder
Terminal=0
Icon=nautilus/gnome-compressed.png
Type=Application
