[Desktop Entry]
Name=Gstripchart
Name[sl]=Ggrafi
Name[pt_BR]=Gstripchart
Name[da]=Gstripchart
Name[de]=Gstripchart
Name[fr]=Gstripchart
Name[gl]=Gstripchart
Name[lt]=Gstripchart
Name[no]=Gstripchart
Name[sk]=Gstripchart
Name[sv]=Gstripchart
Name[tr]=Gstripchart
Comment=Shows a stripchart
Comment[sl]=Ka¾e grafe
Comment[pt_BR]=Mostra um gráfico de barras
Comment[da]=Viser et stripchart
Comment[de]=Eine Kurvenzeichnung anzeigen
Comment[el]=Åìöáíßæåé óôáôéóôéêÜ üğùò óå óåéóìïãñÜöï
Comment[fr]=Affiche des statistiques
Comment[gl]=Amosa unha traza dunha variable
Comment[lt]=Parodo diagramø braişytuvà
Comment[no]=Viser et plott for forskjellige variabler
Comment[sk]=Zobrazuje graf
Comment[sv]=Visar en graf
Comment[tr]=Işlev çizgilerini çizer
Exec=gstripchart_applet
Icon=gnome-stripchart.png
Terminal=0
Type=PanelApplet
