[Desktop Entry]
Name=Stripchart Plotter
Name[es]=Estadísticas
Name[no]=
Comment=Stripchart Plotter
Comment[es]=Muestra gráficos de estadísticas sobre datos personales
Comment[no]=Plotting av systemvariabler over tid
Exec=gstripchart
Icon=gnome-unknown.png
Terminal=0
Type=Application
