[Desktop Entry]
Name=Gstripchart
Name[da]=Gstripchart
Name[de]=Gstripchart
Name[gl]=Gstripchart
Name[tr]=Gstripchart
Comment=Shows a stripchart
Comment[da]=Viser et stripchart
Comment[de]=Eine Kurvenzeichnung anzeigen
Comment[gl]=Amosa unha traza dunha variable
Comment[tr]=Iþlev çizgilerini çizer
Exec=gstripchart_applet
Icon=gnome-stripchart.png
Terminal=0
Type=PanelApplet
