[Desktop Entry]
Name=Gstripchart
Name[da]=Gstripchart
Name[de]=Gstripchart
Name[fr]=Gstripchart
Name[gl]=Gstripchart
Name[lt]=Gstripchart
Name[no]=Gstripchart
Name[tr]=Gstripchart
Comment=Shows a stripchart
Comment[da]=Viser et stripchart
Comment[de]=Eine Kurvenzeichnung anzeigen
Comment[el]=Εμφανίζει στατιστικά όπως σε σεισμογράφο
Comment[fr]=Affiche des statistiques
Comment[gl]=Amosa unha traza dunha variable
Comment[lt]=Parodo diagramψ braiώytuvΰ
Comment[no]=Viser et plott for forskjellige variabler
Comment[tr]=Iώlev ηizgilerini ηizer
Exec=gstripchart_applet
Icon=gnome-stripchart.png
Terminal=0
Type=PanelApplet
