[Desktop Entry]
Name=Shut Down or Reboot
Name[da]=Luk ned eller genstart
Name[de]=Herunterfahren oder Neustart
Name[es]=Apagar o Reiniciar
Name[fi]=Sammuta tai käynnistä uudelleen
Name[fr]=Eteindre ou Redémarrer
Name[it]=Spegni o riavvia il computer
Name[hu]=Kikapcsol vagy újraindít
Name[ja]=¥·¥¹¥Æ¥àÄä»ß¡¦ºÆµ¯Æ°
Name[ko]=¼Ë´Ù¿î È¤Àº ¸®ºÎÆ®
Name[nl]=Afsluiten of herstarten
Name[no]=Steng ned eller start om
Name[pt]=Desligar ou Reiniciar
Name[ru]=÷ÙËÌÀŞÅÎÉÅ ÉÌÉ ğÅÒÅÚÁÇÒÕÚËÁ
Name[sv]=Stäng av eller starta om
Comment=Turn off or reset the computer
Comment[da]=Luk ned eller start maskinen på ny
Comment[de]=Den Computer herunterfahren oder neu starten
Comment[es]=Apaga o reinicia la computadora
Comment[fi]=Sammuttaa tai käynnistää järjestelmän uudelleen
Comment[fr]=Eteindre ou Redémarrer la machine
Comment[hu]=Alkalmazás a géped lelövéséhez
Comment[it]=Spegni o riavvia il computer
Comment[ja]=¥·¥¹¥Æ¥àÄä»ß¡¦ºÆµ¯Æ°¤ò¤·¤Ş¤¹
Comment[ko]=ÄÄÇ»ÅÍ¸¦ ²ô°Å³ª Àç½ÃÀÛ
Comment[nl]=De computer uitschakelen of herstarten
Comment[no]=Steng ned eller start maskinen på nytt
Comment[pt]=Desliga ou reinicia o seu computador
Comment[ru]=÷ÙËÌÀŞÅÎÉÅ ÉÌÉ ĞÅÒÅÚÁÇÒÕÚËÁ ËÏÍĞØÀÔÅÒÁ
Comment[sv]=Stäng av eller starta om datorn
Exec=gshutdown
Terminal=0
Type=Application
