[Desktop Entry]
Name=Shut Down or Reboot
Name[es]=Apagar o Reiniciar
Name[fr]=Eteindre ou Redémarrer
Name[no]=Steng ned elle start om
Name[pt]=Desligar ou Reiniciar
Comment=Turn off or reset the computer
Comment[es]=Apaga o reinicia la computadora
Comment[fr]=Eteindre ou Redémarrer
Comment[no]=Steng ned eller start maskinen på nytt
Comment[pt]=Desliga ou reinicia o seu computador
Exec=gshutdown
Terminal=0
Type=Application
