[Desktop Entry]
Name=Shut Down or Reboot
Name[fr]=Eteindre ou Redémarrer
Name[no]=Steng ned eller restart
Comment=Turn off or reset the computer
Comment[fr]=Eteindre ou Redémarrer
Comment[no]=Steng ned eller restart maskinen
Exec=gshutdown
Terminal=0
Type=Application
