[Desktop Entry]
Name=GNOME Penguin
Name[de]=GNOME-Pinguin
Name[fi]=GNOME-pingviini
Name[fr]=Pingouin GNOME
Name[hu]=GNOME pingvin
Name[nl]=GNOME-Pinguin
Comment=Let a cute pinguin chase your pointer
Comment[de]=Schickt Ihrem Mauszeiger einen Pinguin hinterher
Comment[fi]=Usuttaa söpön pingviinin kursorin kimppuun
Comment[hu]=Egy egeredet kergetõ pingvin
Comment[nl]=Laat een schattige pinguin de muis achtervolgen
Exec=gpenguin
Terminal=0
Type=Application
