[Desktop Entry]
Name=Simple Calculator
Name[es]=Calculadora
Name[fr]=Calculatrice
Name[no]=Kalkulator
Name[pt]=Calculadora
Comment=Simple Calculator
Comment[es]=Calculadora simple
Comment[fr]=Calculatrice Simple
Comment[no]=Enkel kalkulator
Comment[pt]=Calculadora simples
Exec=gcalc
Icon=gnome-calc2.png
Terminal=0
Type=Application
