[Desktop Entry]
Name=Simple Calculator
Name[ca]=Calculadora
Name[cs]=KalkulaХka
Name[da]=Lommeregner
Name[de]=Taschenrechner
Name[es]=Calculadora
Name[et]=Taskuarvuti
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[ja]=╢й╟веебН
Name[ko]=╟Х╩Й╠Б
Name[hr]=Kalkulator
Name[hu]=SzАmolСgИp
Name[it]=Calcolatrice
Name[lt]=SkaiХiuotuvas
Name[nl]=Rekenmachine
Name[no]=Kalkulator
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[ru]=Калькулятор
Name[sk]=KalkulaХka
Name[sv]=Kalkylator
Name[uk]=Калькулятор
Name[wa]=Carculete
Comment=Simple Calculator
Comment[ca]=Una calculadora simple
Comment[da]=Enkel lommeregner
Comment[de]=Einfacher Taschenrechner
Comment[es]=Calculadora simple
Comment[et]=Lihtne taskuarvuti
Comment[fi]=Yksinkertainen laskin
Comment[fr]=Calculatrice Simple
Comment[it]=Semplice calcolatrice
Comment[ja]=╢й╟веебН
Comment[ko]=╟ё╢эгя ╟Х╩Й╠Б
Comment[lt]=Paprastas skaiХiuotuvas
Comment[nl]=Eenvoudige rekenmachine
Comment[no]=Enkel kalkulator
Comment[pl]=Prosty kalkulator
Comment[pt]=Calculadora simples
Comment[ru]=Простой калькулятор
Comment[sv]=Enkel kalkylator
Comment[uk]=Простий калькулятор
Comment[wa]=Carculete simpe
Exec=gcalc
Icon=gnome-calc2.png
Terminal=0
Type=Application
