[Desktop Entry]
Name=Simple Calculator
Name[cs]=Kalkulaèka
Name[da]=Enkel lommeregner
Name[de]=Taschenrechner
Name[es]=Calculadora
Name[fi]=Laskin
Name[fr]=Calculatrice
Name[ja]=´Ê°×ÅÅÂî
Name[ko]=°è»ê±â
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[it]=Calcolatrice
Name[nl]=Rekenmachine
Name[no]=Kalkulator
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[sk]=Kalkulaèka
Name[sv]=Kalkylator
Comment=Simple Calculator
Comment[da]=Enkel lommeregner
Comment[de]=Einfacher Taschenrechner
Comment[es]=Calculadora simple
Comment[fi]=Yksinkertainen laskin
Comment[fr]=Calculatrice Simple
Comment[it]=Semplice calcolatrice
Comment[ja]=´Ê°×ÅÅÂî
Comment[ko]=°£´ÜÇÑ °è»ê±â
Comment[nl]=Eenvoudige rekenmachine
Comment[no]=Enkel kalkulator
Comment[pt]=Calculadora simples
Comment[sv]=Enkel kalkylator
Exec=gcalc
Icon=gnome-calc2.png
Terminal=0
Type=Application
