[Desktop Entry]
Name=GNOME DiskFree
Comment=Show free space on mounted file systems using dials.
Comment[de]=Zeigt freien Platz auf einhängten Dateisystemen mit Rundinstrumenten.
Exec=gdiskfree
Terminal=0
Type=Application

