[Desktop Entry]
Name=GNOME DiskFree
Name[de]=GNOME FreiePlatte
Name[es]=Disco libre
Name[fi]=Vapaa levytila
Name[fr]=Disque libre
Name[ja]=GNOME╔г╔ё╔╧╔╞╔у╔Й║╪
Name[ko]=╠вЁП ╣П╫╨е╘╟Ь╟ё
Name[no]=GNOME fridisk
Name[ru]=Свободно-на-диске
Name[wa]=Deure plake libe
Name[pl]=GNOME DiskFree
Comment=Show free space on mounted file systems using dials.
Comment[de]=Zeigt freien Platz auf einhДngten Dateisystemen mit Rundinstrumenten.
Comment[es]=Muestra el espacio disco libre en el sistema
Comment[fi]=NДyttДД vapaan levytilan mДДrДn.
Comment[fr]=Montre l'espace disque libre sur le systХme
Comment[ja]=╔ч╔╕╔С╔х╓╣╓Л╓©╔у╔║╔╓╔К╔╥╔╧╔ф╔Ю╓н╤У╓╜мфнл╓Р╔ю╔╓╔╒╔Ки╫╪╗╓╥╓ч╓╧
Comment[ko]=╦╤©Нф╝╣х фдюо╫ц╫╨ешюг Ё╡ю╨ ╟Ь╟ёю╩ ╢ыюл╬С╥н ╨╦©╘ащ╢о╢ы.
Comment[nl]=Toont vrije ruimte op aangekoppelde bestandsystemen met wijzerplaten.
Comment[no]=Viser ledig diskplass pЕ monterte filsystemer.
Comment[ru]=Показывает свободное место на подключенных файловых системах, используя шкалу со стрелкой
Comment[wa]=Vey l' espace libe so les deures plakes di voste Иndjole
Comment[pl]=Wy╤wietla woln╠ przestrzeЯ na systemach plikСw przy pomocy kontrolek zegarowych
Exec=gdiskfree
Icon=gnome-diskfree.png
Terminal=0
Type=Application

